.post_body {
    position: relative;
}
.new-post {
    
    
    display: inline-block;
    margin-left: 6%;
    margin-top: 50px;
    
    background-color: $background-color;
    box-shadow: 5px #b8a9c9;
    
    border-radius: 5px;
    width: 65%;
    height: 100%;

        &__text {
            padding: 30px;

            &__title {
                text-align: center;
                font-family: $title;
                font-size: 2em;
                

            }

            &__border {
                border: 1px solid $main-color;
                width: 50%;
                margin-left: 25.5%;
                margin-bottom: 15px;
            }

            &__content {
                
                font-family: $content;
                font-size: .85em;
            }

            &__img img {
                width: 75%;
                height: 60vh;
                margin-left: 13%;
                padding-bottom: 17px;
           }
            &__img #img1 {
                width: 60%;
                height: 70vh;
                margin-left: 20%;
            }

        }
        &__sidebar {
            height: 100%;
            position: absolute;
            width: 20%;
            right: 5%;
            top: 5%;
        }
        &__other {
            display: block;
                
            
             
            width: 100%;
            
            border-bottom: 5px solid $main-color;
            
            height: 60;
    
            &__img img {
                width: 90%;
                height: 36vh;
                padding-top: 15px;
                padding-left: 15px;
                padding-right: 15px;
            }
    
            &__text {
                padding: 15px;
    
                &__title {
                    text-align: center;
                    font-family: $title;
                    font-size: 1em;
                }
    
                &__content {
                    font-family: $content;
                    font-size: .8em;
                }
    
                 &__btn a, &__link a {
                     color: $main-color;
                    text-decoration: none;
                    display:flex;
                    align-content: center;
                    justify-content: center;
                    font-family: $content;
                    font-size: .8em;
                    
                }
    
               
            }

        }

           

        
           
            
        

    
    
   
}