.time {
    position: absolute;
    margin-top: -3px;
    height: 25vh;
    width: 10%;
    border: .1rem solid $main-color;
    background-color: azure;
    border-radius: .5rem;

    color: $main-color;

    display: grid;
    justify-items: center;
    margin-left: -27px;

    &__day {
        align-self: end;
        font-size: 3rem;
        line-height: 3rem;
        margin-bottom: 1rem;
    }
    &__month-year {
        align-self: start;
        font-size: 1.5rem;
        line-height: 3rem;

    }

    &__point {
        position: absolute;
        top: 37%;
        left: 71%;
        height: 2rem;
        width: 2rem;
        background-color: azure;
        
        

       

        transform: translateX(52%) rotate(45deg);

        border: .15rem solid $main-color;
        border-bottom: none;
        border-left: none;
    }
}