//COLORS
$background-color:#F0F8FF;
$main-color: #59057b;
$text-color: #fff;
$footer-back: #59057b;
$footer-text: rgb(238, 221, 252);


//FONTS

$blog-name: 'Pacifico';
$title: 'Montserrat';
$content: 'Libre Baskerville';
